# Assignment 01

Made by : Neeraj kumar
Shift : 03:30 P.M TO 06:30 P.M

In [1]:
#\newline	Backslash and newline ignored

In [3]:
print("Line1 \n Line2 \n Line3") #Example

Line1
 Line2
 Line3

In [8]:
print("\\") #Backslash(\\) is used to print single backslash and if we want to print four backslash so we must used eight 
#backslash at a single time. In short double backslash is equals to single backslash(\\ = \)

\

In [29]:
print('\'') #if we want to print single qoute so we must write like this. Another Example.
print('I \'m Neeraj')

'
I 'm Neeraj

In [17]:
print("\"") #For double qoute, we must write like this.

"

If we want to use double with single qoute so we can. for example : print("My name is 'neeraj'")
but we can't used double qoute with same double qoute, then it will be give error for example : print("My name is "NAME"")

In [22]:
print("My name is 'Name'") #So like this we can't used double qoute with as same doube qoute but we can use single qoute with double qoute

My name is 'Name'

In [21]:
print("My name is "name")

SyntaxError: invalid syntax (<ipython-input-21-344ed294bbbf>, line 1)

In [26]:
print("Hello \"World\" World") #If we want to use double qoute with double qoute as well, so we must used backslash like this. and this is the Escape Sequence

Hello "World" World

In [31]:
print("Hello \t World")# \t Backslash "t" is used for horizantal tab space between charactors.

Hello 	 World

In [33]:
print("Hell\blo") #(\b) backslash b is used to finish the extra words. like this.

Helllo

In [2]:
#Date: 19.05.2019

In [5]:
a = a + 5

NameError: name 'a' is not defined

In [7]:
a = 10
a + 5
a

10

In [9]:
a = a +5 
a

20

In [10]:
a += 5
a

25

In [11]:
a -= 5
a

20

In [13]:
a *= 5
a

500

In [15]:
a/= 5
a

20.0

# Comparison Operator

In [16]:
a = 2
b = 2

a == b

True

In [18]:
a!= b #not eqaul

False

In [19]:
a > b

False

In [20]:
a< b

False

In [24]:
a >= b

True

In [28]:
a <= b

False

In [30]:
a
b

2

In [31]:
a <= b

False

In [34]:
a = 2 
b = 2

a <= b

True

# Math Expression: Eliminatting ambiuity

In [35]:
10 ** 2

100

In [36]:
10 * 3 ** 2 + (12 * 3)/ 2

108.0

In [37]:
2 / 4 - 3 * 9 + 2

-24.5