# 09-06-2019

# Tupple

In [14]:
myTupple = (12, 13, 14, "nASIR", 'ASAD') #packing

In [2]:
myTupple[3]

'nASIR'

In [3]:
myTupple #Tupple is immutable

(12, 13, 14, 'nASIR', 'ASAD')

In [6]:
city = 'khi','lhr'#if we enter more than one value so it will be auto change in tupple,

In [7]:
city

('khi', 'lhr')

In [8]:
city1= 'skr', 'lrk'

In [10]:
city = city+ city1
city

('khi', 'lhr', 'skr', 'lrk', 'skr', 'lrk')

In [11]:
city.count('khi')

1

In [13]:
city.index('skr')

2

In [15]:
square= (12, 16)#packing

In [19]:
l,b = square #unpacking

In [17]:
l

12

In [18]:
b

16

In [20]:
listing = [333, 444,555]#packing

In [21]:
listing

[333, 444, 555]

In [24]:
a,b,c = listing #unpacking of list.

In [25]:
print(a,b,c)

333 444 555

In [26]:
name = 'Pakistan'

In [27]:
name[3:6]

'ist'

In [28]:
len(name)

8

In [29]:
name[3]

'i'

In [31]:
name.capitalize

In [32]:
name

'Pakistan'

# For Loops

In [33]:
print('Hello Pakistan')

Hello Pakistan

In [37]:
for i in range(10):
    print(i, 'Hello Pakistan')
    print('i m in for loop')

0 Hello Pakistan
i m in for loop
1 Hello Pakistan
i m in for loop
2 Hello Pakistan
i m in for loop
3 Hello Pakistan
i m in for loop
4 Hello Pakistan
i m in for loop
5 Hello Pakistan
i m in for loop
6 Hello Pakistan
i m in for loop
7 Hello Pakistan
i m in for loop
8 Hello Pakistan
i m in for loop
9 Hello Pakistan
i m in for loop

In [38]:
for i in range(10):
    print(i, end= " ")

0 1 2 3 4 5 6 7 8 9

In [39]:
for i in range(1,10):
    print(i, end= " ")

1 2 3 4 5 6 7 8 9

In [41]:
for i in range(0,20,2):# range(start, end, step)
    print(i, end= " ")

0 2 4 6 8 10 12 14 16 18

In [45]:
for i in range(20,0,-1):
    print(i, end = ' ')

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [47]:
for num in [ 22, 33,44, 55, 66, 77, 88, 99]:
    print(f'The number in list is {num}')

The number in list is 22
The number in list is 33
The number in list is 44
The number in list is 55
The number in list is 66
The number in list is 77
The number in list is 88
The number in list is 99

In [48]:
students = ['aa','dd','rr','tt']
for mem in students:
    print(mem)

aa
dd
rr
tt

In [49]:
for character in "Pakistan Zindabad":
    print(character)

P
a
k
i
s
t
a
n

Z
i
n
d
a
b
a
d

In [9]:
for a in range(1,20):
    if a== 4:
        continue
    print(a)

1
2
3
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for a in range(1,20):
    if a== 4:
        break
    print(a)

1
2
3

In [13]:
friends = ['Ahmed', 'amir', 'fahad', 'saad', 'faisal']
for friend in friends:
    if friend!='saad':
        print(f' Welcome to the party {friend}')
    else:
        print(f'party is over {friend}')
        continue

 Welcome to the party Ahmed
 Welcome to the party amir
 Welcome to the party fahad
party is over saad
 Welcome to the party faisal

# Nasted For Loops

In [14]:
fNames = ['Nasir', 'Asad', 'Kamran']
lNames = ['Hussain', 'Amin', 'Fazal']

for fName in fNames:
    for lName in lNames:
        print(fName, lName)

Nasir Hussain
Nasir Amin
Nasir Fazal
Asad Hussain
Asad Amin
Asad Fazal
Kamran Hussain
Kamran Amin
Kamran Fazal

In [23]:
table= int(input('Enter your table: '))
for i in range(0,11):
    print(f' {table} * {i} = {table * i}')

Enter your table: 8
 8 * 0 = 0
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72
 8 * 10 = 80

In [22]:
for tables in range(2,6):
    print ('#################')
    for num in range(1,11):
        print(f'{tables} x {num} = {table*num}')

#################
2 x 1 = 8
2 x 2 = 16
2 x 3 = 24
2 x 4 = 32
2 x 5 = 40
2 x 6 = 48
2 x 7 = 56
2 x 8 = 64
2 x 9 = 72
2 x 10 = 80
#################
3 x 1 = 8
3 x 2 = 16
3 x 3 = 24
3 x 4 = 32
3 x 5 = 40
3 x 6 = 48
3 x 7 = 56
3 x 8 = 64
3 x 9 = 72
3 x 10 = 80
#################
4 x 1 = 8
4 x 2 = 16
4 x 3 = 24
4 x 4 = 32
4 x 5 = 40
4 x 6 = 48
4 x 7 = 56
4 x 8 = 64
4 x 9 = 72
4 x 10 = 80
#################
5 x 1 = 8
5 x 2 = 16
5 x 3 = 24
5 x 4 = 32
5 x 5 = 40
5 x 6 = 48
5 x 7 = 56
5 x 8 = 64
5 x 9 = 72
5 x 10 = 80

# Dictionaries

In [30]:
dic = {'name': 'Hamza', 'age': 23, 'gender':'male'}  #{key:values}
dic

{'name': 'Hamza', 'age': 23, 'gender': 'male'}

In [28]:
dic['name']

'Hamza'

In [29]:
dic['gender']

'male'

In [31]:
dic2 = {'names':['asd', 'saad', 'fahad','hassan'], 'degrees':['A', 'B', 'C', 'D']}
dic2

{'names': ['asd', 'saad', 'fahad', 'hassan'], 'degrees': ['A', 'B', 'C', 'D']}

In [33]:
#a dictianary in list
listing = [11,22,dic2]
listing

[11,
 22,
 {'names': ['asd', 'saad', 'fahad', 'hassan'],
  'degrees': ['A', 'B', 'C', 'D']}]

In [34]:
#A dictionary in dictionary
uDic = {1:'Apple',2:{'time':'2pm', 'day':'monday'}}
uDic

{1: 'Apple', 2: {'time': '2pm', 'day': 'monday'}}

In [35]:
dic = {'name': 'Hamza', 'age': 23, 'gender':'male', 'qua':'ABCD'}

In [36]:
for key in dic.keys():
    print(key)

name
age
gender
qua

In [37]:
for val in dic.values():
    print(val)

Hamza
23
male
ABCD

In [38]:
for k,v in dic.items():
    print(k,v)

name Hamza
age 23
gender male
qua ABCD

In [39]:
for key in dic.keys():
    print(dic[key])

Hamza
23
male
ABCD

In [40]:
dic['address']='chakiwara'

In [41]:
dic

{'name': 'Hamza',
 'age': 23,
 'gender': 'male',
 'qua': 'ABCD',
 'address': 'chakiwara'}

In [42]:
ekList = [{'a': 'Karachi', 'b': 'lahore'},{1:1111,2:2222},dic]

In [43]:
ekList

[{'a': 'Karachi', 'b': 'lahore'},
 {1: 1111, 2: 2222},
 {'name': 'Hamza',
  'age': 23,
  'gender': 'male',
  'qua': 'ABCD',
  'address': 'chakiwara'}]

In [44]:
len(ekList)

3

In [45]:
ekList[2]['qua']

'ABCD'

In [46]:
del ekList[2]['qua']

In [47]:
ekList

[{'a': 'Karachi', 'b': 'lahore'},
 {1: 1111, 2: 2222},
 {'name': 'Hamza', 'age': 23, 'gender': 'male', 'address': 'chakiwara'}]