# Functions

In [2]:
def calc(): #Function definition
    print('HELLO PIAIC')

In [5]:
calc()            #function calling it can perform, how much times we call this

HELLO PIAIC

In [6]:
def abc():
    print('a')
    print('b')
    print('c')

In [7]:
abc()

a
b
c

In [9]:
def sum( ):
    x = 2 + 2
    print(x)

sum()

In [10]:
sum( )

4

In [13]:
def add(x,y): #x and y are parameters
    z = x + y 
    print(z)

In [14]:
add()

TypeError: add() missing 2 required positional arguments: 'x' and 'y'

In [15]:
add(4,5)

9

In [23]:
def calculator(num1,num2,opr):
    if opr == '+':
        print(num1 + num2)
    elif opr == '-':
        print(num1-num2)
    elif opr == '*':
        print(num1*num2)
    elif opr == '/':
        print(num1/num2)
    else:
        print('Wrong Operator')

In [25]:
calculator(34,3,'+')

37

In [29]:
cities = ['khi','lhr' , 'isb', 'psh']

In [30]:
def city(x):
    for i in x:
        print(i)

In [31]:
city(cities)

khi
lhr
isb
psh

In [32]:
city('Karachi')

K
a
r
a
c
h
i

In [33]:
list1= [1 , 2 ,3 ,5 ,4,8 ,6]

In [39]:
def lis(x):
    for i in x:
        if i % 2 == 0:
            print(i)
lis(list1)

2
4
8
6

In [40]:
def add(x,y):
    z= x + y
    return z

In [42]:
add(2,4)
print('-------')

-------

In [43]:
i = add(3,4)
print(i)

7

In [44]:
def add(x,y):
    z= x + y
    return z
    print(z)

In [51]:
new_a= add(2,3)
new_a

5

5

In [47]:
def add(x,y):
    z= x + y
    print(z)
    return z

In [49]:
new_a= add(2,3)
new_a

5

5

In [58]:
def discount(x):
    if x > 100:
        y= x+ 10
        return y
    elif x < 100:
        return x
    else:
        y = x + 5
        return y

In [59]:
discount(110)

120

In [60]:
discount(89)

89

In [61]:
discount(100)

105

In [62]:
def add(x,y):
    z= x + y
    print(z)
add(2,4)

6

In [63]:
def add(x,y):
    z= x + y
    return z

In [65]:
x = add(5,10)
for i in range(x):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [66]:
def f_name(fname,lname):
    print(f'My name is {fname} {lname}')

In [67]:
f_name('asad','noor')

My name is asad noor

In [68]:
#key word arguments
f_name(lname='noor',fname='asad')

My name is asad noor

In [69]:
def name(fname, mname, lname):
    print(f"My name is {fname} {mname} {lname}")

In [70]:
name('asad','Ullah','khan')

My name is asad Ullah khan

In [72]:
def name(fname, lname,mname=' '): #default argument
    print(f"My name is {fname} {mname} {lname}")

In [73]:
name('hamza' , 'Khan')

My name is hamza   Khan

In [74]:
name('asad','Ullah','khan')

My name is asad khan Ullah

In [78]:
def dict1():
    new_dict = {1:'karachi', 2:'lahore', 3:'quetta'}
    return new_dict

In [79]:
a = dict1()
print(a[3])

quetta

In [80]:
num1= [2,4,5,8,10]
num2=[]
def new_list(x,y):
    for i in x:
        y.append(i)
    return y

In [81]:
x = new_list(num1, num2)
print(x)

[2, 4, 5, 8, 10]

# Practice time.

In [25]:
def tables(x,z):
    for i in range(0,11):
        y = x*z
    return y

In [26]:
tables(6,7)

42

In [33]:
def table_generator(x):
    for i in range(0,11):
        print(f'num {x} * {i+1} = {x*(i+1)}')
table_generator(6)

num 6 * 1 = 6
num 6 * 2 = 12
num 6 * 3 = 18
num 6 * 4 = 24
num 6 * 5 = 30
num 6 * 6 = 36
num 6 * 7 = 42
num 6 * 8 = 48
num 6 * 9 = 54
num 6 * 10 = 60
num 6 * 11 = 66

In [34]:
table_generator(10)

num 10 * 1 = 10
num 10 * 2 = 20
num 10 * 3 = 30
num 10 * 4 = 40
num 10 * 5 = 50
num 10 * 6 = 60
num 10 * 7 = 70
num 10 * 8 = 80
num 10 * 9 = 90
num 10 * 10 = 100
num 10 * 11 = 110