In [1]:
print("Hello Neeraj")

Hello Neeraj

In [1]:
name = input('First Name ')
name2 = input('Last name ')
age = int(input('What is your age '))

#print(' My name is ' + name + name2 + ' and My age is '+ str(age))
print(age - 0)
#print('My name is ', name, 'and My age is', age,)

type(age)

print(f'Hello {name} {name2} ')

First Name Neeraj
Last name Kumar
What is your age 23
23
Hello Neeraj Kumar

In [10]:
name, full = input('First Name ').split(" ")
name2 = input('Last name ')
age = int(input('What is your age '))

#print(' My name is ' + name + name2 + ' and My age is '+ str(age))
print(age - 0)
#print('My name is ', name, 'and My age is', age,)

type(age)

print(f'Hello {name} {name2} ')

First Name Neeraj kumar
Last name Pahuja
What is your age 23
23
Hello Neeraj Pahuja

In [3]:
num1 = input('Enter first num1: ')
num2 = input('Enter second num2: ')
num3 = input('Enter third num3: ')
(int(num1) +int(num2) +int(num3) /3)
print(f' Average of three numbers is {(int(num1)+int(num2) +int(num3) /3 )}')

Enter first num1: 45
Enter second num2: 46
Enter third num3: 47
 Average of three numbers is 106.66666666666667

In [2]:
num1, num2, num3,= input("enter any three numbers: ").split(" ")
print(f'Average of three numbers is {(int(num1) + int(num2) + int(num3) / 3)}')

enter any three numbers: 56 78 80
Average of three numbers is 160.66666666666666

In [6]:
first_Num = float(input('enter first number: '))
second_Num = float(input('enter second number: '))
 
total_number = first_Num + second_Num
print('Total is ' + str(total_number / 2))

enter first number: 45
enter second number: 56
Total is 50.5

In [11]:
num1 = int(input('First num '))
num2 = int(input('Second num '))
num3 = int(input('Third num '))

result = "num1 + num2 + num3 /3"
print(f'Average of three numbers is {num1 + num2 + num3 /3}')

First num 12
Second num 3
Third num 45
Average of three numbers is 30.0

In [ ]:
name = input('First Name ')
name2 = input('Last name ')
age = int(input('What is your age '))

#print(' My name is ' + name + name2 + ' and My age is '+ str(age))
print(age - 0)
#print('My name is ', name, 'and My age is', age,)

type(age)

print(f'Hello {name} {name2} ')


num1 = input('Enter first num1: ')
num2 = input('Enter second num2: ')
num3 = input('Enter third num3: ')
(int(num1) +int(num2) +int(num3) /3)
print(f' Average of three numbers is {(int(num1)+int(num2) +int(num3) /3 )}')




num1 = int(input('First num '))
num2 = int(input('Second num '))
num3 = int(input('Third num '))

result = "num1 + num2 + num3 /3"
print(f'Average of three numbers is {num1 + num2 + num3 /3}')

First Name Hamdan
Last name shaikh
What is your age 22
22
Hello Hamdan shaikh
Enter first num1: 03337101998
Enter second num2: 03118120231
Enter third num3: 03118120242
 Average of three numbers is 7494595643.0

In [3]:
lang = input("Please enter your information").split(", . ")

print(f'This is your information {lang} {input("Which was your last Job ").split(" ")}')

Please enter your informationI am a neeraj
Which was your last Job I was a techer
This is your information ['I am a neeraj'] ['I', 'was', 'a', 'techer']

In [3]:
marks = int(input("Enter your percentage "))
if marks >= 90:
    print("A1")
elif marks >= 80:
    print('A+')
elif marks <= 80:
    print('A')
    
else:
    print('Please do hard practice')

Enter your percentage 79
A

In [1]:
students= ['Neeraj', 'Ahmed', 'Ali', 'Rehman', 'Rohit', 'Shanker']
name= input('Student Name: ').split(' ')
if name == students:
    name=blanklist.pop(students)
    print('you are not in list.')


father_name = input('S//O or D/O: ').split(' ')
class_section = input('Enter your class with section: ').split(' ') 
roll_num= input('Enter your Roll number: ')

total_marks = 1100
obtain_marks= int(input('Enter your marks: '))
percentage= obtain_marks*100/total_marks
print(f'Your percentage is: {percentage} ')


if percentage >= 90:
    print("A1")
elif percentage >= 70 and percentage < 90:
    print('A+')
elif percentage >= 60:
    print('A')
    
else:
    print('Sorry You are not in list.')

Student Name: Hamze
S//O or D/O: afsdg\
Enter your class with section: 11312\
Enter your Roll number: 12345
Enter your marks: 899
Your percentage is: 81.72727272727273
A+

In [22]:
winning_number= '80'
gussed_number= input('Enter your number: ')
gusserd_number= int(gussed_number)
if winning_number == gussed_number:
    print(' Congradulation You are the Winner ')
else:
    print('Please Try Again')
    if winning_number > gussed_number:
        print('Too Low')
    else:
        print('Too High')

Enter your number: 80
 Congradulation You are the Winner

In [3]:
marks = input('Enter your marks: ')
personality = input('Input Student personality: ')

if marks == 908 or personality == 'Better':
    print('Condition True')
else:
    print('You are not allowed to get admission')

Enter your marks: 908
Input Student personality: great
You are not allowed to get admission

In [1]:
name = input('What is your name? ')
age = input('What is your age ')

if name== "abc" or age== 19:
    print('Condition True')
else:
    print('Condition False')

What is your name? abc
What is your age 18
Condition True

In [7]:
marks = input('Enter your marks: ')
behaviour = input('Please Enter Student\'s Behaviour ')

if marks == 908 or behaviour == 'Great':
    print('Condition True')
else:
    print('Condition False')

Enter your marks: 987
Please Enter Student's Behaviour bad
Condition False

In [14]:
user_name= input('Enter your name: ')
user_age = input('Enter your age: ')
user_age = int(user_age)
if user_age >= 10 and (user_name[0]== 'a' or user_name[0]=='A' ):

    print('Please come and enjoy.')
else:
    print('You are not allowed')

Enter your name: asad
Enter your age: 12
Please come and enjoy.

In [1]:
name = input('Enter your name: ')
age = input('Enter your age: ')
age= int(age)

if 0<age<=3:
    print('Free for child')
elif 3<age<= 11:
    print('Please pay 100')
elif 11<age<= 25:
    print('Please pay 150')
else:
    print('Please pay 200')

Enter your name: Neeraj
Enter your age: 14
Please pay 150

#  Class Attendance

In [4]:
name = 'Neeraj, Hanesh, Avinash, Madhumati, Kashish, Sonam '
if (input('Enter student name: ')) in name:
    print('Present in class')
else:
    print('Not present in class')

Enter student name: Neeraj
Present in class

In [8]:
i = 3 
while i<= 10:
    print('Hello World')
    i = i + 1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [3]:
total=  0
i = 1
while i<= 50: 
    
    total += i
    i += 1
print(total)

1275

In [4]:
n = int(input('Enter your number: '))
total = 0
i = 1
while i<=n:
    
    total += i
    i += 1
print(total)

Enter your number: 78
3081

In [8]:
n = input('Enter a number: ')
total = 0
i = 0
while i < len(n):
    total += int(n[i])
    i += 1
print(total)

Enter a number: 355677
33

In [11]:
name = input('Enter your name: ')
tym_vari: ""
i = 0

while i < len(name):
    if name[i] not in tym_vari:
        tym_vari += name[i]
        print(f'{name[i]}: {name.count(name[i])}')
    i += 1

Enter your name: Neeraj Kumar

NameError: name 'tym_vari' is not defined

In [14]:
name = input('Enter your name: ')
temp_vari = ""
i = 0
while i < len(name):
    if i not in temp_vari:
        temp_vari +=name[i]
        print(f'{name[i]}: {name.count(name[i])}')
        i+= 1

Enter your name: Neeraj Kumar

TypeError: 'in <string>' requires string as left operand, not int

In [9]:
 
for i in range(1, 11):
    print(f'Hello World: {i}')

Hello World: 1
Hello World: 2
Hello World: 3
Hello World: 4
Hello World: 5
Hello World: 6
Hello World: 7
Hello World: 8
Hello World: 9
Hello World: 10

In [12]:
num = int(input('Enter a number: '))
total = 0
for num in range(1, num+1 ):
    total+= num
print(total)

Enter a number: 56
1596

In [1]:
total= 0
n = input('Enter your number: ')
if i not in range(0, len[n]):
    total+= int(n[i])
print(total)

Enter your number: Neeraj Kumar

NameError: name 'i' is not defined

In [5]:
name= input('Enter your name: ')
temp= ""
for i in range(len(name)):
    if name[i] not in temp:
        print(f'{name[i]}: {name.count(name[i])}')
        temp += name[i]

Enter your name: Neeraj Kumar
N: 1
e: 2
r: 2
a: 2
j: 1
 : 1
K: 1
u: 1
m: 1

In [22]:
name=  input('Enter your name: ')
company = input('Enter your company name: ')
Experince = int(input('How much experince you have: '))
if Experince >= 2:
    print('Good')
else:
    print('You are not eligbile')
qualification= input('Enter your Education: ')

if qualification == 'Master':
    print('Congradulation')
    
elif qualification == 'Four years Bachelors':
    print('We will call you.')

else:
    print('Sorry your qualification is not enough for this job.')

Enter your name: Ahmed
Enter your company name: Huusa
How much experince you have: 5
Good
Enter your Education: Four years Bachelors
We will call you.

In [23]:
students = ['Neeraj', 'Ahmed', 'Hamza', 'Ali']

In [24]:
del students[2]
students

['Neeraj', 'Ahmed', 'Ali']

In [24]:
students
students.remove(2)

NameError: name 'students' is not defined

In [27]:
students.clear()
students

[]

In [28]:
city =['Karachi', 'Sukkur', 'Larkana']

In [29]:
city.append('Quetta')
city

['Karachi', 'Sukkur', 'Larkana', 'Quetta']

In [31]:
city.insert(3, 'sibi')
city

['Karachi', 'Sukkur', 'Larkana', 'sibi', 'sibi', 'Quetta']

In [13]:
list1 = ['Oil', 'Floor', 'Water', 'Fruits']

In [14]:
del list1[2]
list1

['Oil', 'Floor', 'Fruits']

In [15]:
list1

['Oil', 'Floor', 'Fruits']

In [25]:
list2=list1
list2.remove('Floor')
list2

['Oil', 'Fruits']

In [31]:
mytupple = ('Neeraj', 'Rohan', 'Mahesh', 'Manesh', 12, 13, 14, 15)

In [34]:
mytupple[3]

'Manesh'

In [35]:
mytupple

('Neeraj', 'Rohan', 'Mahesh', 'Manesh', 12, 13, 14, 15)

In [46]:
students = 'Madhu', 'Kashish', 'Suman', 'Manesh'
all_students=mytupple + students
all_students.index('Manesh')

3

In [53]:
square= int(input('A Square of rectangle is: '))

A Square of rectangle is: 12

In [5]:
radius = float(input('Enter the radius of the circul: '))
area =float(input('Enter the area of the cirul: '))*radius**2
#area2=area*radius**2
print(f'Radius of the circul is {radius} {area}')

Enter the radius of the circul: 0.5
Enter the area of the cirul: 3.1416
Radius of the circul is 0.5 3.1416