# print("Neeraj Kumar") #string

In [4]:
print(123* 5) #integer

615

In [6]:
print(23/5) #4.6 float division

4.6

In [12]:
print(False, True) #bool

False True

In [14]:
print(123.5, 'Hello', False)

123.5 Hello False

In [15]:
print(123.5, 'Hello', False, sep = "")

123.5HelloFalse

In [16]:
print(355.5, 'Hello', True, sep = '======')

355.5======Hello======True

In [17]:
print("Hello World")
print('Hello PIAIC')
print('Hello Neeraj')

Hello World
Hello PIAIC
Hello Neeraj

In [19]:
print("Hello World", end = ' ')
print('Hello PIAIC', end = ' ')
print('Hello Neeraj')

Hello World Hello PIAIC Hello Neeraj

In [21]:
print("Hello World", end = '\t')
print('Hello PIAIC', end = '\t\t\t\t\t\t\t')
print('Hello Neeraj')

Hello World	Hello PIAIC							Hello Neeraj

In [22]:
name= 'Neeraj'

In [23]:
age = '23'

In [24]:
print(name)
print(age)

Neeraj
23

In [2]:
name =input ('What is your name ' )
age = input('what is your age ' )

What is your name kashish
what is your age 11

In [4]:
x = 5 
y = 8
z = y/x

In [5]:
print (z)

1.6

In [11]:
x1 = 67
y2 = 80 
z = y2-x1

In [12]:
print(z)

13

In [13]:
9/4

2.25

In [14]:
9//4

2

In [16]:
a = 80
b = 90

In [20]:
type(a)
type(b)

int

In [21]:
a + b

170

In [33]:
name = 'Neeraj'
age =  23
print('My name is {name} and My age is {age} ')

My name is {name} and My age is {age}

In [ ]:
name = input(" What is your name ")
age = int(input(' What is your age '))

print(' My name is ' + name + ' and My age is '+ str(age))
print(age - 20)

print('My name is ' ,name, 'and My age is',age )

In [5]:
x = input()
type(x)
y = int(input())
type(y)

14
15

int

In [2]:
name = input('what is your name ')
age = int(input ('what is your age '))

print('My name is {1} and my age is {0}' .format(name,age))

what is your name Neeraj
what is your age 23
My name is 23 and my age is Neeraj

In [4]:
name = input('what is your name ')
age = int(input ('what is your age '))

print(f'My name is {name} and My age is {age}')

what is your name Neeraj
what is your age 23
My name is Neeraj and My age is 23

In [1]:
name = input('what is your name')
print("Hello " + name)

what is your nameNeeraj
Hello Neeraj

In [6]:
first_number = float(input("enter first number "))
second_number = float(input("enter 2nd number "))

total_number = first_number + second_number
print("total is " + str(total_number))

enter first number 23
enter 2nd number 45
total is 68.0

In [11]:
name, age = "Neeraj", "23"
print('Hello ' + name + ' your age is '+age)

Hello Neeraj your age is 23

In [12]:
x=y=z=2
print(x+y+z)

6

In [4]:
name, age = input("enter your name and age ").split(",")
print(name)
print(age)

enter your name and age neeraj,23
neeraj
23

In [3]:
name = "Neeraj"
age = 23
print('Hello {} your age is {}'.format(name, age-2))
print(f'Hello {name} your age is {age+2}')

Hello Neeraj your age is 21
Hello Neeraj your age is 25

In [4]:
first = int(input("Enter first num "))
second = int(input("Enter second num "))
third = int(input("Enter third num "))

reuslt = "first+second+third/3"

print(f"Average of three numbers is {first+second+third/3}")

Enter first num 4
Enter second num 5
Enter third num 6
Average of three numbers is 11.0

In [2]:
num1 = input("enter 1st num: ")
num2 = input("enter 2nd num: ")
num3 = input("enter 3rd num: ")
(int(num1) + int(num2) + int(num3) / 3)
print(f"Average of three number is {(int(num1) + int(num2) + int(num3) / 3)}")

enter 1st num: 4
enter 2nd num: 5
enter 3rd num: 6
Average of three number is 11.0

In [6]:
num1, num2, num3= input("enter three numbers comma seperated: ").split(", ")
print(f"Average of three number is {(int(num1) + int(num2) + int(num3) / 3)}")

enter three numbers comma seperated: 3, 3, 3
Average of three number is 7.0

In [14]:
language = "python"
#p = 0
#y = 1
#t = 2
#h = 3
#o = 4
#n = 5
#print(language[3]) start from first word means 0
#print(language[-4]) start from last word means -1

# String slicing

In [15]:
#lang = "Python"
#print(lang[4:6]) start argument and stop argument

In [19]:
lang = "python"
#print(lang[:]) for complete sequnce
#print(lang[1:]) to start from any of the number and we don't to stop this.
#print(lang[:4]) to stop any of the letter.

Step argument

In [2]:
print("Neeraj"[0:5]) #we can stop on any variable
print('Neeraj'[0:4:3])#for jumping from word to next by ignoring center word.
#print('Neeraj'[5::-1])for start from back side.
#print('Neeraj'[-1::-1])
#print('Neeraj'[::-1])# trick to start letters from ending point.

Neera
Nr

In [1]:
name = input('Enter your name: ')
reverse = name[-1::-1]
print(f'Reverse of your name is{reverse}')

Enter your name: Neeraj
Reverse of your name isjareeN

In [2]:
lang = "String "


print(lang[5])

g

In [3]:
name = input('Enter your name: ')
print(f'Reverse of your name is{name[-1::-1]}')

Enter your name: Neeraj
Reverse of your name is jareeN

In [7]:
name = 'Neeraj Kumar'
print(len(name))# len function is used to count charactors in one word or more than one word.

master = len(name)
print(master)# we can also enter len in any other variable.

12
12

In [15]:
name = 'nEEraJ kUMaR'
print(name.lower())# used to write all the charactors in small case.
print(name.upper())# used to write all the charactors in capital latter.
print(name.title())# used to wirte first latter capital and others in small.
print(name.count("E")) #used to count unique letter which we want to count.

neeraj kumar
NEERAJ KUMAR
Neeraj Kumar
2

In [38]:
name, char = input('What is your name comma seperated: ').split(", ")
print(f'length of the charator{len(name)}')
print(f'charactor of the name {name.strip().lower().count(char.strip().lower())}')
#name.strip().lower().count(char.strip().lower())

What is your name comma seperated:    Neeraj   , n
length of the charator12
charactor of the name 1

In [32]:
name, char = input('what is your name Separated by comma ').split(", ")
print(f'Your name is {len(name)}')
print(f'Counting of charactors{name.lower().count(char.lower())}')

what is your name Separated by comma Neerajr, N
Your name is 7
Counting of charactors1

In [37]:
name ="        Nee         raj         "
dots ="................"
print(name.lstrip() + dots)
print(name.rstrip() + dots)
print(name.strip() + dots)
print(name.replace(" ","") + dots)

Nee         raj         ................
        Nee         raj................
Nee         raj................
Neeraj................

In [40]:
name, char= input('What is your name').split(", ")
print(f'Your name is {len(name)}')
print(f'Charactor count{name.strip().lower().count(char.strip().lower())}')

What is your name    Neeraj    ,  n
Your name is 14
Charactor count1

In [4]:
string = "He is very handsome boy and as well as he is also a good dancer"
#print(string.replace("is", "was", 1))
#print(string.find("is", 5))
is_pos1 = string.find("is")
is_pos2 = string.find("is", is_pos1 + 3)
print(is_pos2)

42

In [6]:
#center method is used to add any thing lift to right of the string.

name ="Neeraj"
print(name.center(10, "#"))

##Neeraj##

In [1]:
name = input("Enter your name ")
print(name.center(len(name) + 8, "#" ))

Enter your name Neeraj
####Neeraj####

In [2]:
name= "Neeraj"
name = name + " " +"kumar"
print(name)

Neeraj kumar

In [7]:
age = int(input("Enter your age "))
if age>= 18:
    pass

Enter your age 18

In [2]:
x = int(input('First number: '))
y = int(input('Second number: '))

if x + y > 10: 
    print(' Sum is greater than 10')
else: 
    print(' Wrong input ')

First number: 3
Second number: 3
 Wrong input

In [12]:
x = int(input('First number: '))
y = int(input('second number: '))

if x % y == 0:  
    print('Odd number')
else:
    print(' please enter Even number')

First number: 3
second number: 3
Odd number

In [17]:
x = int(input('First number: '))

if x % 5 == 0:
    print('Odd number')
else:
    print(' please enter Even number')

First number: 2
 please enter Even number

In [1]:
nic = input('Have you NIC? ').lower()

if nic == 'yes': 
    print ('Come inside')
    voter= input('Voter List main name hai? ').lower()
    if voter == 'yes': 
        print('Cast your vote')
    else:
        print(' Dosra Centre Dekhain')
else:
    print('NIC lai kar aayen')

Have you NIC? Yes
Come inside
Voter List main name hai? Yes
Cast your vote

In [9]:
age = int(input('What is your age? '))

if age >=  20:
    print('Come inside ')
    costmor = input(' Your ticket please ')
    if costmor == 'yes':
        print('Enjoy the movie ')
    else:
        print('Please purchase ticket ')
else:
    print('You are not allowed to come')

What is your age? 22
Come inside
 Your ticket please no
Please purchase ticket

In [19]:
x = int(input('First number: '))
y = int(input('Second number: '))

if x + y > 0:
    print('inputs are valid')
elif x + y > 10:
    print('inputs are valid')
elif x + y > 100:
    print('inputs are valid')
else:
    print('Inputs are not valid')

First number: 45
Second number: 67
inputs are valid

# Logical "AND" Logical "OR" Operator

In [22]:
nic = input('Have you NIC? ').lower()
voter= input('Voter List main name hai? ').lower()
if nic == 'yes' and voter == 'yes':
    print ('Come inside')
else:
     print(' Dosra Centre Dekhain')

Have you NIC? yes
Voter List main name hai? yes
Come inside

In [1]:
age = int(input('What is your age? '))#ctrl + /
costmor = input(' Your ticket please ')
if age >=  20:
    print('Come inside ')
else:
    print('Please purchase ticket ')

What is your age? 21
 Your ticket please 45
Come inside

In [2]:
name = input('Enter Your name: ').split(' ')

Enter Your name: Neeraj kumar

# 26th May 2019

# List

In [1]:
student1 = 'ali'
student1 = 'hamza'

In [31]:
alist =['karachi', 218.45, 577 ]

In [ ]:
students= ['Neeraj', 'Saqib', 'Ahmed']

In [36]:
del students[1]
students

['ALIHamza']

In [33]:
students.remove('Saqib')
students

ValueError: list.remove(x): x not in list

In [6]:
students[1]= ' Hussain' #update
students

['ALIHamza', ' Hussain']

In [7]:
city = []

In [9]:
city.append('karachi')
city

['karachi', 'karachi']

In [10]:
city.append('lahore')
city

['karachi', 'karachi', 'lahore']

In [12]:
city.insert(2, 'sibi')
city

['karachi', 'karachi', 'sibi', 'sibi', 'lahore']

In [13]:
del city[1]
city

['karachi', 'sibi', 'sibi', 'lahore']

In [15]:
city.insert(20, 'queta')
city

['karachi', 'sibi', 'sibi', 'lahore', 'queta', 'queta']

In [17]:
city.index('queta')# to find index

4

In [18]:
city.index('lahore 2')

ValueError: 'lahore 2' is not in list

In [19]:
len(city)

6

In [21]:
city.clear()

In [22]:
city

[]

In [23]:
sortList = [2 , 56, 67, 89, 90,13, 6]

In [24]:
sortList.sort()
sortList

[2, 6, 13, 56, 67, 89, 90]

In [25]:
sortList.sort(reverse = True)
sortList

[90, 89, 67, 56, 13, 6, 2]

In [26]:
aList = ['hamza', 'a', 'c', 'b']

In [27]:
aList.sort()
aList

['a', 'b', 'c', 'hamza']

In [29]:
aList.reverse()
aList

['hamza', 'c', 'b', 'a']

In [38]:
numbers = [34, 5, 89, 23, 67, 98]

In [39]:
k=numbers
k

[34, 5, 89, 23, 67, 98]

In [40]:
numbers.append(100)

In [41]:
numbers

[34, 5, 89, 23, 67, 98, 100]

In [42]:
k #pass by reference

[34, 5, 89, 23, 67, 98, 100]

In [43]:
k.append(102)
numbers

[34, 5, 89, 23, 67, 98, 100, 102]

In [44]:
a=numbers.copy()#first method

In [45]:
numbers

[34, 5, 89, 23, 67, 98, 100, 102]

In [48]:
a.append(500)
a

[34, 5, 89, 23, 67, 98, 100, 102, 500, 500]

In [49]:
b=a[:]# similar as copy method
b

[34, 5, 89, 23, 67, 98, 100, 102, 500, 500]

# List into List

In [70]:
students = ['Neeraj', 'Ahmed', 'Hamza', 'Ali']

In [71]:
list2 = [1 ,2 ,3 ,4 ,5 ,6, ['apple', 'mango', 'orange'],students]

In [72]:
list2[6]

['apple', 'mango', 'orange']

In [69]:
list2[6][2]

'orange'

In [73]:
list2[7]

['Neeraj', 'Ahmed', 'Hamza', 'Ali']

In [77]:
list2[7].insert(1,'Asadullah')
list2

[1,
 2,
 3,
 4,
 5,
 6,
 ['apple', 'mango', 'orange'],
 ['Neeraj', 'Asadullah', 'Asadullah', 'Ahmed', 'Hamza', 'Ali']]

In [78]:
list2[7].remove('Asadullah')
list2

[1,
 2,
 3,
 4,
 5,
 6,
 ['apple', 'mango', 'orange'],
 ['Neeraj', 'Asadullah', 'Ahmed', 'Hamza', 'Ali']]

In [79]:
students

['Neeraj', 'Asadullah', 'Ahmed', 'Hamza', 'Ali']

In [80]:
4 in list2

True

In [84]:
'Neeraj' in list2[7]

True

# Slicing

In [86]:
list3=['a','c','d','e','f']

list3

['a', 'c', 'd', 'e', 'f']

In [90]:
s=list3[2:4]
#starting point left ending point right

In [92]:
s

['d', 'e']

In [93]:
s=list3[2:]
s

['d', 'e', 'f']

In [94]:
s=list3[:4]
s

['a', 'c', 'd', 'e']

In [96]:
s=list3[4:2]
s

[]

# Negative indexing

In [103]:
list4  = ['apple', 'organes', 'banana', 'grapes','melon','peech' ]
#index     -6      -5        -4       -3          -2    -1

In [104]:
list4[-1]

'peech'

In [105]:
s=list4[-6:-1]
s

['apple', 'organes', 'banana', 'grapes', 'melon']

In [106]:
s=list4[-5:4]
s

['organes', 'banana', 'grapes']

# Popping

In [108]:
list5=['Asad','Hamza','Ali']
a= list5.pop()
print(list5)
a

['Asad', 'Hamza']

'Ali'

In [109]:
list5=['Asad','Hamza','Ali']
a= list5.pop(1)
print(list5)
a

['Asad', 'Ali']

'Hamza'

In [113]:
list6=['Asad','Hamza','Ali']
poppedvalue=list6.pop()