# 09-06-2019

# Tupple

In [14]:
myTupple = (12, 13, 14, "nASIR", 'ASAD') #packing

In [2]:
myTupple[3]

'nASIR'

In [3]:
myTupple #Tupple is immutable

(12, 13, 14, 'nASIR', 'ASAD')

In [6]:
city = 'khi','lhr'#if we enter more than one value so it will be auto change in tupple,

In [7]:
city

('khi', 'lhr')

In [8]:
city1= 'skr', 'lrk'

In [10]:
city = city+ city1
city

('khi', 'lhr', 'skr', 'lrk', 'skr', 'lrk')

In [11]:
city.count('khi')

1

In [13]:
city.index('skr')

2

In [15]:
square= (12, 16)#packing

In [19]:
l,b = square #unpacking

In [17]:
l

12

In [18]:
b

16

In [20]:
listing = [333, 444,555]#packing

In [21]:
listing

[333, 444, 555]

In [24]:
a,b,c = listing #unpacking of list.

In [25]:
print(a,b,c)

333 444 555

In [26]:
name = 'Pakistan'

In [27]:
name[3:6]

'ist'

In [28]:
len(name)

8

In [29]:
name[3]

'i'

In [31]:
name.capitalize

In [32]:
name

'Pakistan'

# For Loops

In [33]:
print('Hello Pakistan')

Hello Pakistan

In [37]:
for i in range(10):
    print(i, 'Hello Pakistan')
    print('i m in for loop')

0 Hello Pakistan
i m in for loop
1 Hello Pakistan
i m in for loop
2 Hello Pakistan
i m in for loop
3 Hello Pakistan
i m in for loop
4 Hello Pakistan
i m in for loop
5 Hello Pakistan
i m in for loop
6 Hello Pakistan
i m in for loop
7 Hello Pakistan
i m in for loop
8 Hello Pakistan
i m in for loop
9 Hello Pakistan
i m in for loop

In [38]:
for i in range(10):
    print(i, end= " ")

0 1 2 3 4 5 6 7 8 9

In [39]:
for i in range(1,10):
    print(i, end= " ")

1 2 3 4 5 6 7 8 9

In [41]:
for i in range(0,20,2):# range(start, end, step)
    print(i, end= " ")

0 2 4 6 8 10 12 14 16 18

In [45]:
for i in range(20,0,-1):
    print(i, end = ' ')

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [47]:
for num in [ 22, 33,44, 55, 66, 77, 88, 99]:
    print(f'The number in list is {num}')

The number in list is 22
The number in list is 33
The number in list is 44
The number in list is 55
The number in list is 66
The number in list is 77
The number in list is 88
The number in list is 99